h1{
    background-color:rgb(255, 225, 0);
    font-size: medium;
    text-align: center;
    display: inline;
    
}

* h2{
    background-color: aqua;
    font-size: small;
    display:inline;
}